.section-footer-dev {
    background-color: #141b21;
    color: #fff;
    padding: 10px 0;
    padding: 0.625rem 0;
    .wrap-dev-footer {
    	a {
			color: #fff;
			text-decoration: none;
		}
		img {
			margin-left: 5px;
		}
    }
}