.wrapper-contato-imovel {
    padding: 50px 0;
    .wrapper-contato-body{
        padding:0;
        label{
            color:#000;
        }
        .wrapper-contato-content{
            padding: 0;
            background-color:#fff;
            box-shadow:none;
            .contato-content-header{
                height: 600px;
                .contato-content-title{
                    color:#000;
                    .contato-content-title-text {
                        line-height: 1.2;
                    }
                }
                @media (max-width: 991px) {
                    height:auto;
                    padding:0;
                }
            }
        }
        .contato-form {
            position: relative;
            z-index: 1;
        }
    }
}