.wrapper-imovel-tour {
    .imovel-tour {
        .desc {
            color: #969696;
            font-size: 15px;
            font-size: 0.9375rem;
            font-weight: 100;
        }
        .label-tour {
            color: #969696;
            font-size: 12px;
            font-size: 0.75rem;
            font-weight: 400;
        }
    }
}